<html xmlns="http://www.w3.org/1999/html">

<body>
<h1>Scenarios</h1>
<table>
  <caption>Scenarios</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario[:id] %></td>
        <td><a href="/scenarios/<%= scenario[:id] %>"><%= scenario[:name] %></a></td>
        <td>
          <form action="/scenarios/<%= scenario[:id] %>" method="post" style="display:inline;">
            <input name="_method" value="delete" type="hidden"/>
            <input type="submit" name="commit" value="Delete">
           </form>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<p>
<form action="/scenarios/new" method="post">
  <!--<input type="hidden" name="_method" value="POST" />-->
  <p>
    <label>New scenario</label><br/>
    <input type="text" name="new_scenario">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
</p>
</body>

</html>